<div id="clearance" class="sign-up">
  <h2>Edit your profile here</h2>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <%= form.label(:avatar, :"Upload your avatar")  %>
    <%= form.file_field :avatar %> <br>

    <div class="submit-field">
      <%= form.submit 'Update' %>
    </div><br>
  
  <% end %>
</div>
