<%= render "layouts/admintop" %>
<%= render "layouts/navtop" %>

<div class="wrapper">
  <div class="main-content">
    <div class="form">
      <p><i class="fa fa-user"></i> User Settings</p>
      <%= form_for @user do |form| %>
        <%= render partial: '/users/form', object: form %>

        <%= form.label :name %>
        <%= form.text_field :name, type: 'text' %>

        <%= form.label(:avatar, :"Upload your avatar")  %>
        <%= form.file_field :avatar %> <br>

        <%= form.submit 'Update' %>
      
      <% end %>
    </div>
  </div>
</div>
</div>
<%= render "layouts/footer" %>