
<% if signed_in? %>
  <div class="admin-top">
    <div class="admin-links">
      <%= link_to 'Add a post', new_post_path %>
      <%= link_to 'Blog Settings', settings_path %>
    </div>
    <div class="user-links">
      <img src="<%=current_user.avatar.url %>" />
      <p>Signed in as: <%= current_user.email %></p>
      <%= link_to 'Edit user', edit_user_path(current_user) %>     
      <%= link_to 'Sign out', sign_out_path, method: :delete %>
    </div>
  </div>   
    <% else %>
      <%= link_to 'Sign in', sign_in_path %>
    <% end %>

      <%= render "layouts/social" %>
      <img src="<%=@blog.logo.url %>" />
      <img src="<%=@blog.bground.url %>" />

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
    
    <% @posts.each do |post| %>
      <h1><%= link_to post.title, post_path(post) %></h1>
      <% if post.user_id == current_user.id %>
        <%= link_to 'Edit Post', edit_post_path(post) %>
        <%= link_to 'Delete Post', post_path(post), method: "delete" %>
      <% end %>
      <img src="<%= post.featimg.url %>" />
      <p><%= post.description %></p>
    <p>Posted on: <%= post.created_at.strftime("%A, %d/%m/%Y") %></p>
    <p>Written by: <%= User.find(post.user_id).name %> </p>
    <hr>
    <% end %>