
<% if signed_in? %>
  <div class="admin-top">
    <div class="admin-links">
      <%= link_to 'Add a post', new_post_path %>
      <%= link_to 'Blog Settings', settings_path %>
    </div>
    <div class="user-links">
      <%#= link_to 'Edit user', edit_user_path(current_user) %>     
      <img src="<%=current_user.avatar.url %>" />
      <p><%= current_user.name %></p>
      <%= link_to 'Sign out', sign_out_path, method: :delete %>
    </div>
  </div>   
    <% else %>
      <%= link_to 'Sign in', sign_in_path %>
    <% end %>

  <div class="wrapper">
    <header>
      <div class="branding">
        <img src="<%=@blog.logo.url %>" class="blog-logo" />
        <%= render "layouts/social" %>
      </div>
    </header>
  <div class="divider"></div>
  <div class="main-content">
    <div class="post">
    <% @posts.each do |post| %>
      <h1><%= link_to post.title, post_path(post) %></h1>
      <% if post.user_id == current_user.id %>
        <div class="author-options">
          <%= link_to '<i class="fa fa-pencil"> Edit</i>'.html_safe, edit_post_path(post) %>
          <%= link_to '<i class="fa fa-times"> Delete</i>'.html_safe, post_path(post), method: "delete" %>
        </div>
      <% end %>
      <img src="<%= post.featimg.url %>">
      <p><%= post.description %></p>
      <div class="post-info">
        <p class="time"><i class="fa fa-calendar"></i>Posted on: <%= post.created_at.strftime("%A, %d %B %Y") %></p>
        <p class="author"><i class="fa fa-user"></i>Written by: <%= User.find(post.user_id).name %> </p>
      </div>
      <hr>
    </div>
    <% end %>
  </div>
</div>

<footer>
  <p><%= @blog.title %></p>
</footer>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>